    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');

:root{
    --cor-principal: #F3F5FC;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #0A3871;
    --cor-hover: #D8DFE8;
    
    --fonte-principal: 'Inter', regular;
    --fonte-secundaria: 'Inter', bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #F3F5FC;
}

body {
    background: #F3F5FC;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

header {
    width: 100%;
}


